@page "/home/index"
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<section class="kpi-home">

    <h1>
        KPI THEMES
    </h1>

    <div class="content">

        <form role="form" asp-controller="Kpi" asp-action="KpiSave" autocomplete="off" id="accessible-content-skip-anchor">

            <div class="begin-search-prompt">

                <div class="empty-state">

                    <partial name="_KPIThemes" model=@Model.ThemesViewmodel  />

                </div>

            </div>
        </form>

    </div>
</section>